
.box-item {
  transition: transform 0.1s ease, background-color 0.1s ease;
}

.box-item:hover {
  transform: scale(1.1);
  background-color: gray;
}

.box-item.selected {
  transform: scale(1.1);
  background-color: gray;
}

.box{
  position: absolute;
  top: 7rem;
  right: 20%;
  overflow: scroll;
  max-height: 70%;
  margin-top: 10vh;
  width: 300px;
  display: flex;
  flex: 15%;
  flex-wrap: wrap;

}
.image_box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1%;
  border: 1px solid #C89B3C;
  background-color: #091428;
  
}

.image_box img {
  width: 2.8rem;
  object-fit: cover;
}

.image_box figcaption {
  font-size: 0.4rem;
  color:#C8AA6E;


}